*.csv filter=lfs diff=lfs merge=lfs -text
fy20_adc_data_file_88_degrees.csv filter=lfs diff=lfs merge=lfs -text
out.csv filter=lfs diff=lfs merge=lfs -text
'*.csv' filter=lfs diff=lfs merge=lfs -text
